<footer>
    <div class="footer-top"></div>
    <div class="footer-bottom">
        <div class="container">
           <p>2023 <a href="https://tyflokabinet.cz/" target="_blank">Tyflokabinet SONS - přístupnost</a></p>
        </div>
    </div>
</footer>