---
layout: layouts/template.njk
---

<div class="wrapper">
    {% include 'partials/header.njk' %}
    <div class="content">
        {{ content | safe }}
        {% include 'partials/quicklinks.njk' %}
    </div>
    {% include 'partials/foo.njk' %}
</div>